/*Telerik RadInput Windows7 Skin*/

/*global*/

.RadInput_GirdQuickTest,
.RadInputMgr_GirdQuickTest
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_GirdQuickTest .riTextBox,
html body .RadInputMgr_GirdQuickTest
{
	border-color:#b8cbde;
	background:#fff;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_GirdQuickTest .riEmpty,
html body .RadInput_Empty_GirdQuickTest
{
	color:#a7a7a7;
}

html body .RadInput_GirdQuickTest .riHover,
html body .RadInput_Hover_GirdQuickTest,
html body .RadInput_GirdQuickTest .riFocused,
html body .RadInput_Focused_GirdQuickTest
{
	border-color:#c1dbfc;
}

html body .RadInput_GirdQuickTest .riRead,
html body .RadInput_Read_GirdQuickTest
{
	border-color:#d9d9d9;
}

html body .RadInput_GirdQuickTest .riDisabled,
html body .RadInput_Disabled_GirdQuickTest
{
	border-color:#d9d9d9;
	color:#a7a7a7;
	cursor:default;
}

html body .RadInput_GirdQuickTest .riError,
html body .RadInput_Error_GirdQuickTest
{
	border-color:#d18185;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

.RadForm.rfdTextbox .RadInput_GirdQuickTest .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_GirdQuickTest[type="text"]
{
	border-color:#d18185;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

html body .RadInput_GirdQuickTest .riNegative,
html body .RadInput_Negative_GirdQuickTest
{
	color:#565656;
}

/*buttons*/

.RadInput_GirdQuickTest a
{
	background:transparent no-repeat url('Input/sprite.gif');
}

/*go*/

.RadInput_GirdQuickTest .riBtn a
{
	width:20px;
	height:18px;
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_GirdQuickTest .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_GirdQuickTest .riSpin a
{
	width:15px;
	height:7px;
	line-height:7px;
}

.RadInput_GirdQuickTest a.riUp
{
	background-position:4px -98px;
}

.RadInput_GirdQuickTest a.riUp:hover
{
	background-position:4px -148px;
}

.RadInput_GirdQuickTest a.riDown
{
	background-position:4px -199px;
}

.RadInput_GirdQuickTest a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_GirdQuickTest .riLabel
{
	color:#000;
}

/*rtl*/

html body .RadInputRTL_GirdQuickTest .riError,
html body .RadInputRTL_Error_GirdQuickTest
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_GirdQuickTest .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_GirdQuickTest[type="text"]
{
	background-position:3px -298px;
}