html,iframe {height:100%!important; overflow:hidden;}

ul {counter-reset: li; margin-top: 0px; list-style: none;} 

#sortable > li:before, #normal > li:before {content: "ลำดับที่ " counter(li) " "; counter-increment: li; color: Orange;} 

li {background-color: white; margin: 0 5px 5px 5px; padding: 5px; width: 760px!important; text-align: left; 
    padding-left: 20px; line-height: 40px; border-radius: 5px; border: 1px solid gray;} 

.MainDivNormal {font: normal 35px 'THSarabunNew'; background-color: #380604!important;}
.MainDivNotReply {font: normal 35px 'THSarabunNew'; background-color: #034429;margin-left: 0.5%!important; margin-top: 1%!important;} 

.MenuBackground {background-color: #c7c491!important;}

.QuestionBackground{background-color: #f2d299!important;}

.ForBtn {width: 65px; height: 65px; margin: 7px 0 0 17px; } 

/*#panelTime > div { margin-left: 25px; } */

#TimeCountDown { width: 400px; height: 68px; } 

#TimeCountDown > div { height: 68px; float: left; text-align: center; line-height: 65px; }

#TimeCountDown > div > img { height: 56px; } 

#DivScored > div { height: 50%; text-align: center; font-size: 25px; position: relative; } 

.OrangeBack { margin: -34px auto 0 auto; } 

.ForSortBtn { font: 100% 'THSarabunNew'; border: 0; padding: 2px 0 3px 0; background: #1EC9F4; border-radius: .5em; 
              box-shadow: 0 1px 2px rgba(0,0,0,.2); color: #FFF; border: solid 1px #0D8AA9; background: #46C4DD; 
              background: -webkit-gradient(linear, left top, left bottom, from(#63CFDF), to(#17B2D9)); text-shadow: 1px 1px #178497; } 

.ForDivLeapChoice { list-style: none; z-index: 999; height: 100%; border-radius: 0.2em; border: 1px outset; } 

.ImgSkip { position: absolute; right: 35%; top: -100px; z-index: 99; } 

#ShowLimitAmount { background-color: rgb(255, 29, 29); position: absolute; width: 25px; height: 25px; right: 0; top: 0; z-index: 1; 
                   border-radius: 1em; border: 2px white solid; text-align: center; color: white; font-weight: bolder; font-size: 15px; } 

#DivIntro { position: relative; height: 70px; width: 945px; border: 20px; padding: 10px; } 

#mainIntro { position: relative; border-radius: 10px; background-color: #b39eb5; height: 50px; font-weight: bold; width: 925px; padding: 10px; } 

.prettyIntro { display: none; } 

#mainIntroAudio { position: relative; border-radius: 10px; height: auto; font-weight: bold; width: 690px; padding-top: 10px; } 

#spnTest, #spnClose { cursor: pointer; } 

#divClose { color: #fff; z-index: 555; position: absolute; right: 12%; top: 10%; font-size: medium; cursor: pointer; } 

#mainPretty { height: 90%; width: 70%; font-weight: bold; margin-left: -35%; margin-top: -20%; left: 50%; top: 50%; z-index: 100; } 

#introHtml { position: relative; border-radius: 10px; background-color: #fff; height: 100%; font-weight: bold; width: 100%; padding: 70px; 
             margin-top: -37%; left: 65%; z-index: 100; border: 10px solid #b39eb5; overflow-y: scroll; } 

.RightDiv { background-color: #56C5FF; width: auto; margin: 0 0 5px 7px; border-radius: 5px; background-repeat: no-repeat; background-position: center; } 

.NotReplyEmpty { margin-left: 36px; height: 260px; margin-top: 30px; text-align: center; vertical-align: middle; display: block; background-color: white; 
                 border: 1px dashed black; color: black; line-height: 8em; font-weight: bold; width: 90%; border-radius: 10px; } 

.MainQuestionAnswerNormal { overflow: auto; margin-left: 5px; height: 472px; border-radius: 12px; } 

.QuestionNormal { position: relative; border-radius: 10px 10px 0px 0px; background-color: #ffc76f; width: 800px; border: 20px; padding: 20px; } 

#btnChoice { margin-left: 6px; margin-bottom: 40px; -webkit-border-radius: 10px; border: 2px solid #FAA51A; width: 100px; float: left; height: 110px; 
             position: relative; background-color: #F4F7FF; } 

.ShowScore { background-color: white; margin: -617px 0px 0px 700px; padding: 5px; width: 613px; text-align: center; padding-left: 20px; line-height: 14px; 
             border-radius: 5px; border: 1px solid gray; font-size: 17px; } 

ul#ShowScorePanel li a { position: fixed; margin: 0px; display: block; margin-left: -2px; width: 110px; height: 70px; background-color: #CFCFCF; 
                         background-repeat: no-repeat; background-position: right center; border: 1px solid #AFAFAF; -moz-border-radius: 0px 10px 10px 10px; 
                         -webkit-border-bottom-right-radius: 10px; -webkit-border-top-right-radius: 10px; -khtml-border-bottom-right-radius: 10px; 
                         -khtml-border-top-right-radius: 10px; border-radius: 0px 10px 10px 10px; behavior: url('../css/PIE.htc'); -pie-track-active: false; 
                         opacity: 0.6; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60); font-weight: bold; color: black; } 

#DivBlock { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); position: absolute; top: 0; text-align: center; display: none; } 

#DivVs { width: 850px; margin-left: auto; margin-right: auto; margin-top: 110px; } 

.ForEachDivVs { width: 218px; height: 328px; display: inline-block; }

ul{counter-reset: li;margin-top: 0px;list-style: none;}  

ul > li:before{content: "ลำดับที่ " counter(li) " ";counter-increment: li;color: Orange;} 

li{background-color: white;margin: 0 5px 5px 5px;padding: 5px;width: 760px;text-align: left;padding-left: 20px;line-height: 40px;
   border-radius: 5px;cursor: pointer;border: 1px solid gray;} 

#MainDiv{font: normal 35px 'THSarabunNew';background-color: #F56C19;} 
                                                               
#DivChkTablet > div{width: 50px;height: 50px;text-align: center;vertical-align: middle;display: inline-table;border-radius: 0.1em;margin: 5px;font-weight: bold;
                    border: solid 1px #54E487;cursor: pointer;} 

.ForBtn{width: 65px;height: 65px;margin-left: 7px;} 

#TimeCountDown{width: 400px;height: 68px;} 

#TimeCountDown > div{height: 48px;float: left;text-align: center;line-height: 65px;} 

#TimeCountDown > div > img{height: 48px;} 

#panelMenuRight > div{border-radius: 5px;width: 90px;height: 150px;background-repeat: no-repeat;background-position: center;} 

#DivChkTablet{width: 660px;height: 305px;display: none;background-color: #FCFFEF;top: 130px;left: 115px;position: fixed;border-radius: 10px;
              padding: 20px;z-index: 1000;font-size: 25px;} 

.divNotReady{background-color: #F8FFF5;color: #424242;} 
                                                            
.divReady{background-color: #25FA13;color: #424242;} 

.divChangeForReady{background-image: url('../Images/Activity/ReplacementBadge.png');color: #8B8B8B;} 

#divReloadChkTablet{text-align: center;cursor: pointer;font-size: 50px;width: 31px;height: 31px;background-image: url("../Images/Activity/ajax_loader2.gif") no-repeat;
                    background-position: center;}
                                                  
#PanelTools{background: url('../images/activity/setting_tools/OpenTool.png');width: 70px;height: 48px;float: left;padding: 10px;overflow: hidden;border-radius: 5px;
            margin: 5px; background-repeat:no-repeat; background-position:center;} 

#ToolsOnTablet{position: absolute;display: none;left: 625px;z-index: 999;top: 75px; padding: 0 10px 10px 10px;border-radius: 0 0 0 .5em;background-color:#3A8B99;} 

.ForToolsTablet{width: 200px;height: 70px;background-color: White;border: 1px solid #AFAFAF;border-radius: 10px;text-align: center;cursor: pointer;} 

.ForToolsTablet span{position: relative;top: 8px;font-size: 30px;color: #FDA200;} 

.DictOn{background-color: green;background-image:url('../images/right.png');background-repeat: no-repeat;background-position: 10px;} 

.DictOff{background-color: red;background-image:url('../images/wrong.png');background-repeat: no-repeat;background-position: 10px;} 

.spanHilight{background-color: Yellow;}