<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/css/ActivityPage_Pad2">
    <include path="~/css/jquery-ui-1.8.18.custom.css" />
    <include path="~/css/prettyPhoto.css" />
    <include path="~/css/video-js.min_hack.css" />
    <include path="~/css/styleActivity_pad.css" />
    <include path="~/css/ActivityPage_Pad2.css" />
    <include path="~/fonts/thsarabunnew.css" />
  </styleBundle>
</bundles>