<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- Connection string ของ Checkmark และ Dictionary-->
  <connectionStrings>
    <add name="CheckMarkConnectionString"
         connectionString="9UqSH75qTka8886v+aJplJUbEh++Hie+0a9E+rzsULoIVaGMb8Pw3xNsJTlSzTKAZWeDWHu3oK5X7XYr/knSEMb2bTwlASCD1AMsw29Q9pVC3x/IUdFX32yeUfdMCOQ0BKDUntg53sUUUCIaIyzkufvCBX0WSxGAPRVutEyBFsvMPxDLlnof74EyqPOUvnLKQPP74U0ZwDIFlkWuCwqHsA=="
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DictionaryConnectionString" connectionString="QCxAAIxMkiB2u0wwecMkfT77rjwtPatbhRlPZJvV3dsADTnnP+0NnLneuIQKfGOPhscyN6tRmzMC4DNAjzJDxSdLbI/fACEAAklrg7246SguC2v/7Jm0aS5jQY5oBcYeoMzEJSIUyRF0mweQIuvPCxY/n2JOnqoRyjPa+/DRHKDYwpCqp3mwcowloOhd3NKYVgbmJveChivR5fVnyuceIA=="
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ElmahAzureTableStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=logstorageaccount;AccountKey=q0Y4SProEU6exmPl7yvS0oaf5nnqMUXh8g08IWm1INJxJySejsATTJUVsQ4APqZ2ZZURf6Ch/cw6gBZFdJjbww==;BlobEndpoint=https://logstorageaccount.blob.core.windows.net/;TableEndpoint=https://logstorageaccount.table.core.windows.net/;QueueEndpoint=https://logstorageaccount.queue.core.windows.net/;FileEndpoint=https://logstorageaccount.file.core.windows.net/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LicensKeyConnectionString" connectionString="Server=tcp:activationsqlserver.database.windows.net,1433;Database=LicenseKeySQLDb;User ID=sqlactivationmanager@activationsqlserver;Password=vkskimujoujgCrktdb0AdKNfu;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="RedisConnectionString" connectionString="redis://maxonetserver:suXc1JDWkLZJp7tzRqdr65OuI9STWp56Bq69ojKUkSk=@activationRedis.redis.cache.windows.net:6380?ssl=true"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <!-- Enablelog ตอนลงทะเบียนนักเรียนจาก tablet -->
  <appSettings>
    <add key="EnableDetailLog" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NewRelic.AppName" value="MaxONETonAzure" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <!-- Email ของ Elmah -->
  <elmah>
    <security xdt:Transform="Replace" allowRemoteAccess="true" />
    <errorLog xdt:Transform="Replace" type="Elmah.AzureTableStorage.AzureTableStorageErrorLog, Elmah.AzureTableStorage" connectionStringName="ElmahAzureTableStorage" />
    <errorMail xdt:Transform="Remove" />

  </elmah>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
  </system.web>
  <system.webServer xdt:Transform="Insert" >
    <!-- Error ไปหน้าลิง ให้เรียนจากไหน -->
    <httpErrors errorMode="Custom">
      <error statusCode="404"  path="https://maxonet.iknow.co.th/error/404.htm" xdt:Transform="SetAttributes" xdt:Locator="Match(statusCode)" />
      <error statusCode="500"  path="https://maxonet.iknow.co.th/error/404.htm" xdt:Transform="SetAttributes" xdt:Locator="Match(statusCode)" />
      <error statusCode="501"  path="https://maxonet.iknow.co.th/error/404.htm" xdt:Transform="SetAttributes" xdt:Locator="Match(statusCode)" />
      <error statusCode="502"  path="https://maxonet.iknow.co.th/error/404.htm" xdt:Transform="SetAttributes" xdt:Locator="Match(statusCode)" />
      <error statusCode="412"  path="https://maxonet.iknow.co.th/error/404.htm" xdt:Transform="SetAttributes" xdt:Locator="Match(statusCode)" />
      <error statusCode="406"  path="https://maxonet.iknow.co.th/error/404.htm" xdt:Transform="SetAttributes" xdt:Locator="Match(statusCode)" />
      <error statusCode="405"  path="https://maxonet.iknow.co.th/error/404.htm" xdt:Transform="SetAttributes" xdt:Locator="Match(statusCode)" />
      <error statusCode="403"  path="https://maxonet.iknow.co.th/error/404.htm" xdt:Transform="SetAttributes" xdt:Locator="Match(statusCode)" />
      <error statusCode="401"  path="https://maxonet.iknow.co.th/error/404.htm" xdt:Transform="SetAttributes" xdt:Locator="Match(statusCode)" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off"/>
            <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>



</configuration>